.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.work-title {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
}

.work-container .work-img {
  width: 419px;

  height: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  &:hover {
    transform: scale(1.05);
    /* filter: brightness(1.1); */
    border: 4px solid #ff00ff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.3s;
  }
  cursor: pointer;
}

.show-more {
    border-radius: 50px;
    border: 6px solid #ffffff;
    padding: 30px 60px;
    border-color: #ffffff;
    display: flex;
    gap: 15px;
    font-size: 22px;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
    &:hover {
        gap: 40px;
        transition: 0.6s;
    }
}