
.contact {
 gap: 80px;
 display: flex;
 flex-direction: column;
 margin: 80px 170px;

}

.contact-title {
 position: relative;
}

.contact-title  h1{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}


.contact-title img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.1;
  width: 200px;
  height: auto;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.contact-left{
  width: 48%;
}