.navBar {
  display: flex;
  justify-content: space-between;
}

.nav-menue {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 100%);
  font-size: 22px;
  cursor: pointer;
}
